---
import SiteLayout from "../layouts/SiteLayout.astro";

const title = "Home";
const startWork = new Date(2018, 7);
const currentDate = new Date();
const experienceInYears = Math.floor(
  (currentDate.getTime() - startWork.getTime()) / (1000 * 60 * 60 * 24 * 365),
);
---

<SiteLayout title={title}>
  <h1>Chris Parsons</h1>
  <p>
    Hey there, I'm Chris, a full-stack software engineer with {
      experienceInYears
    }+ years of experience. Currently working at <a
      href="https://stotles.com"
      target="_blank"
      rel="noopener noreferrer">Stotles</a
    >.
  </p>
  <p>
    Across my time in software engineering, I have had a large focus on the
    public sector and public sector adjacent companies.
  </p>
  <p>
    Take a look at <a href="/work">what I've been up to</a>.
  </p>
</SiteLayout>
