---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

import { Font } from "astro:assets";
---

<html lang="en-gb">
  <style>
    body {
      font-family: var(--font-open-sans);
    }
  </style>

  <Font cssVariable="--font-open-sans" />
  <meta charset="utf-8" />
  <link rel="icon" type="image/png+xml" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  {description && <meta name="description" content={description} />}
  <title>Chris Parsons: {title}</title>

  <body>
    <div
      style={{
        maxWidth: `600px`,
        margin: "0 auto",
        display: "flex",
        flexDirection: "column",
        alignItems: "center",
      }}
    >
      <nav
        style={{
          display: "flex",
          justifyContent: "center",
          gap: "0.5rem",
        }}
      >
        <a href="/">home</a>
        <a href="/work">work</a>
        <a href="/blog">blog</a>
      </nav>
      <main
        style={{
          padding: "1rem",
        }}
      >
        <slot />
      </main>
    </div>
  </body>
</html>
